@use 'variaveis';

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}

.about-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: variaveis.$colorWhite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;

    p {
        text-align: center;
        font-size: 15px;
        color: #777
    }

    &-button {
        button {
            position: absolute;
            right: 20px;
            bottom: 20px;
            background: variaveis.$firstColor;
            color: variaveis.$colorWhite;
            border-radius: 30px;

            &:hover {
                background: variaveis.$firstColorHover;
            }
        }
    }
}

.skills-box {
    margin: 10px;

    &-header {
        margin-bottom: 30px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        span {
            font-size: 14px;
            background: variaveis.$firstColor;
            color: variaveis.$colorWhite;
            padding: 2px 10px;
            border-radius: 5px;
        }
    }
}