@use 'variaveis';

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background: variaveis.$bodyColor;
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;

    &-logo {
        position: relative;

        &-name {
            font-size: 30px;
            font-weight: 600;
            color: variaveis.$textColorThird;
        }

        span {
            position: absolute;
            top: -15px;
            right: -20px;
            font-size: 5em;
            color: variaveis.$textColorSecond;
        }
    }

    &-menu, .nav_menu_list {
        display: flex;
    }

    &-menu .nav_list {
        list-style: none;
        position: relative;
    }

    .nav-link {
        text-decoration: none;
        color: variaveis.$textColorSecond;
        font-weight: 500;
        padding-inline: 15px;
        margin-inline: 20px;
    }

    &-menu-btn {
        display: none;

        i {
            font-size: 28px;
            cursor: pointer;
        }
    }

    .active-link {
        position: relative;
        color: variaveis.$firstColor;
        transition: .3;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -15px;
            transform: translate(-50%, -50%);
            width: 5px;
            height: 5px;
            background: variaveis.$firstColor;
            border-radius: 50%;
        }
    }
}