@use 'variaveis';

.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: variaveis.$colorWhite;
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    overflow: hidden;

    i {
        font-size: 50px;
        color: #00b5e7;
        margin-bottom: 25px;
    }

    label {
        font-size: 15px;
        color: #777;
    }
}