$bodyColor: rgb(250, 250, 250);
$colorWhite: rgb(255, 255, 255);

$textColorSecond: rgb(68, 68, 68);
$textColorThird: rgb(30, 159, 171);

$firstColor: rgb(110, 87, 224);
$firstColorHover: rgb(40, 91, 212);

$secondColor: rgb(110, 87, 224);
$thirdColor: rgb(192, 166, 49);
$firstShadowColor: rgba(0, 0, 0, 0.1);